{
	"extends": [
		"stylelint-config-html",
		"stylelint-config-recommended-scss",
		"stylelint-config-recommended-vue/scss",
		"stylelint-config-rational-order",
		"stylelint-prettier/recommended"
	],
	"overrides": [
		{
			"files": ["**/*.vue"],
			"customSyntax": "postcss-html"
		}
	],
	"plugins": ["stylelint-order", "stylelint-prettier", "stylelint-config-rational-order/plugin"],
	"rules": {
		"no-descending-specificity": null,
		"order/properties-order": [],
		"plugin/rational-order": [
			true,
			{
				"border-in-box-model": false,
				"empty-line-between-groups": false
			}
		],
		"prettier/prettier": true,
		"selector-pseudo-element-no-unknown": [
			true,
			{
				"ignorePseudoElements": ["input-placeholder"]
			}
		],
		"selector-pseudo-class-no-unknown": [
			true,
			{
				"ignorePseudoClasses": ["input-placeholder"]
			}
		]
	}
}
